img.news.img-fluid:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.1s;
} 

.card {
    transition: transform 0.3s ease;
    height: 100%;
    
}
  
.card:hover {
    transform: scale(1.1);
}

.image-container {
    position: relative;
}

.top-image {
    position: absolute;
    top: -100px;
}

.card-img-top {
    object-fit: cover;
    height: 200px; 
}

.image-container {
    position: relative;
    overflow: hidden;
}

.img-no-bg {
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: -20px;
    left: 0;
    animation: moveRight 2s forwards, fadeIn 2s forwards; /* You can adjust the duration and timing function as needed */
    z-index: 0;

}

@keyframes moveRight {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(370px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes moveRightToLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-300px);
    }
}

.text-product {
    position: absolute;
    top: 40px;
    right: 0;
    animation: moveLeft 2s forwards; /* You can adjust the duration and timing function as needed */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    animation: fadeIn 2s forwards, moveRightToLeft 2s forwards;
    z-index: 1;
}